<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="url" value="https://opensource-demo.orangehrmlive.com/"></parameter>
	<parameter name="username" value="Admin"></parameter>
	<parameter name="password" value="admin123"></parameter>
	<parameter name="headless" value="false"></parameter>
	
	<test thread-count="1" name="Chrome">
	<parameter name="browserName" value="chrome"></parameter>
	<classes>
		<class name="google.tests.SearchUsersTest" />
	</classes>
	</test>

	<test thread-count="1" name="MSEdge">
	<parameter name="browserName" value="msedge"></parameter>
	<classes>
		<class name="google.tests.SearchUsersTest" />
	</classes>
	</test>
	
	<test thread-count="1" name="Chromium">
	<parameter name="browserName" value="chromium"></parameter>
	<classes>
		<class name="google.tests.SearchUsersTest" />
	</classes>
	</test>
	
	<test thread-count="1" name="Webkit">
	<parameter name="browserName" value="webkit"></parameter>
	<classes>
		<class name="google.tests.SearchUsersTest" />
	</classes>
	</test>

</suite> 
